{% extends 'base.html' %}


{% block content %}
<p>总共{{ movie|length }}个电影</p>
<!-- 添加电影的表单 -->
<form action="" method="POST">
    电影名称：<input type="text" name='title' required autocomplete="off">
    电影年份：<input type="text" name='year' required autocomplete="off">
    <input type="submit" value="添   加" class='sub'>
</form>


<ul class='movie_list'>
    {% for i in movie %}
        <li>
            {{ i.title }} - {{ i.year }}
            <span class='but'>
                <a class='bd' href="http://v.baidu.com/v?word={{i.title}}&ct=301989888&rn=67&pn=0&db=0&s=0&fbl=800&ie=utf-8&oq={{i.title}}&f=3&rsp=0" target="_blank">百度视频</a>
            </span>
        </li>
    {% endfor %}
</ul>
{% endblock %}
