/* 页面整体 */
body{
    max-width: 600px;
    font-size: 16px;
    margin: o auto;
    font-family: Arial, Helvetica, sans-serif;
}
/* footer */
footer{
    color: #888;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}

.img1{
    width: 40px;
}


.movie_list{
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6),0 2px 10px 0 rgba(0,0,0,0.12);
}


.movie_list li{
    padding: 12px 24px;
    border-bottom: 1px solid #dddddd;
}
.movie_list li:hover{
    background-color: rgb(231, 226, 226);
}